@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common style */
.bg-color{
    background-color: #1A0B2E;
}

.color{
    color:#FFFFFF;
}

.linears{
    background:linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1) );
}

.btn{
    padding: 10px 15px;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
}

.center{
    text-align: center;
    max-width: 1200px;
    margin: 100px auto;
    background-color: #1A0B2E;
}

p , small{
    opacity: 0.8;
}

/* navber style */
nav{
    margin:30px 0;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid grey ;
    padding-bottom: 20px;
}

.linear{
      background:linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1) );
       color: transparent;
  background-clip: text;
}
 .fa{
    font-size: 4em;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1) );;

}

ul{
    gap: 20px;
    display: flex;
   
}
ul li{
    list-style: none;
    
}

li a{
    text-decoration: none;
    color: #FFFFFF;
}

.img{
    display: none;
}

/* header section */
header{
    background-image: url('../assets/hero-bg.png');
    background-position: center;
    background-size: cover;
    text-align: center;
     margin:30px 0;
     padding: 40px 0;
}

.round{
    position: relative;
}
.micro{
    /* transform: scale(1.5);
    transition: 10.3s;
    translate: 10px; */
    position: absolute;
    right: 615px;
    top: 225px;
}
.new button{
    position: absolute;
    border-radius: 20px;
    background-color: #00FF88;
    border: none;
    padding: 10px;
    color: #1A0B2E;
    font-weight: 600;
    top: 200px;
   right:510px;
box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

}

.btn-mail{
     padding: 10px 15px;
    color: #00FF88;
    border: none;
    border-radius: 20px;
    background: none;
    border: 1px solid #00FF88;
}
/* ...main section.... */
.center h2{
    font-size: 2rem;
}
.center p{
    line-height:2em;
}

.gap{
    margin: 20px 0;
}

.update-container{
    padding-top: 50px;
     border-top: 1px solid grey ;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.update h1{
    color: #00FF88;
    font-weight: bolder;
}

/* Meet the Host */
#meet{
    max-width: 1140px;
    margin: 100px auto;
   
}
#meet h1 , .featured>h1{
    margin: 1rem;
    text-align: center;
}
.youtube-container{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
   
}

.first{
    background-color:rgba(53, 17, 101, 0.4) ;
     border-radius: 20px;
     /* border: 1px solid red; */
    /* margin-right: 30px; */
    /* width: 100%; */
}
.first iframe{
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
}

.youtube{
    padding: 20px;
}
.time{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.time h6{
    color: #00FF88;
    padding-top:5px ;
}
/* Why Choose TechWave */
.Choose-container{
       max-width: 1140px;
    margin: 50px auto;
}

.Choose-container h1{
    text-align: center;
}

.box-container{
    margin: 20px 0;
    /* border: 1px solid red; */
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    gap: 20px;
}

.box{
   padding: 20px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
}

.box h4{
    margin: 20px 0;
}

.box1{
    grid-column:span 1;
    grid-row:span 2;
}
.box2{
      grid-column:span 2;
    grid-row:span 1;
}
.box3{
      grid-column:span 2;
    grid-row:span 1;
}
.box4{
      grid-column:span 2;
    grid-row:span 1;
}
.box5{
      grid-column:span 1;
    grid-row:span 1;
}




/* info-container */
.info-container{
     background-color: rgba(53, 17, 101, 0.4);
    padding: 1em;
    display: flex;
    align-items: center;
    column-gap: 2em;
    border-radius: 20px;

}
.info{
   line-height: 25px;
}

.icon{
    margin-top: 1rem;
   display: flex;
   text-align: center;
   /* align-items: center; */
   gap: 10px;
}

.icon>div{
   text-align: center;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px 10px;
}
/* ....footer..... */
footer{
    background-image: url('../assets/footer-bg.png');
     background-position: center;
    background-size: cover;
   text-align: center;
   height: 300px;
   padding: 70px;

}

.icon-container{
    margin:1rem ;
    column-gap: 2rem;
    display: flex;
    justify-content: center;
    
}

.hide{
    display: none;
}


/* ...responsive--mobile device */
@media screen and (max-width:576px) {
    .list , .button{
        display: none;
    }

    nav{
    justify-content: space-between;
   margin: 20px 20px;
}
.img{
    display: inline;
}
.micro{
    padding-right:30px;
    position: absolute;
    right: 140px;
    top: 230px;
}
.new button{
    top: 160px;
   right:110px;

}
.center{
    text-align: center;
    max-width: 1200px;
    margin: 100px auto;
    background-color: #1A0B2E;
}
.center h2{
    font-size: 2rem;
}
.center p{
    line-height:2em;
    margin: 0 2rem;
}
.update-container{
    row-gap: 1rem;
    grid-template-columns: repeat(2 , 1fr);
}



.icon-container{
    display: grid;
   grid-template-columns: repeat(2 , 1fr);
    
}

.box-container{
    display: inline;
     margin-bottom: 20px;
    
}
.youtube-container{
    /* display: inline; */
    display: block;
    margin: 20px;
}

.youtube-container iframe{
    width: 100%;
}

.first{
    margin-bottom: 20px;
    /* margin-left: 30px; */
}

.box{
    margin: 20px 20px;
}

.info-container{
    display: inline;
    text-align: center;
}

.info>p{
    margin: 0 20px;
}
.icon{
    margin-top: 1rem;
   display: flex;
   text-align: center;
   justify-content: center
   
}
}