@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common style */
.bg-color{
    background-color: #1A0B2E;
}

.color{
    color:#FFFFFF;
}

.linear{
    background:linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1) ,rgba(145, 0, 248, 1) );
}

.btn{
    padding: 10px 15px;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
}

.center{
    text-align: center;
    max-width: 1200px;
    margin: 100px auto;
    background-color: #1A0B2E;
}

p{
    opacity: 0.8;
}

/* navber style */
nav{
    margin:30px 0;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid grey ;
    padding-bottom: 20px;
}

ul{
    gap: 20px;
    display: flex;
   
}
ul li{
    list-style: none;
    
}

li a{
    text-decoration: none;
    color: #FFFFFF;
}

.img{
    display: none;
}

/* header section */
header{
    background-image: url('/assets/hero-bg.png');
    text-align: center;
     margin:30px 0;
     padding: 40px 0;
}

.round{
    position: relative;
}
.micro{
    position: absolute;
    right: 615px;
    top: 225px;
}
.new button{
    position: absolute;
    border-radius: 20px;
    background-color: #00FF88;
    border: none;
    padding: 10px;
    color: #1A0B2E;
    font-weight: 600;
    top: 200px;
   right:510px;
box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

}

.btn-mail{
     padding: 10px 15px;
    color: #00FF88;
    border: none;
    border-radius: 20px;
    background: none;
    border: 1px solid #00FF88;
}
/* ...main section.... */
.center h2{
    font-size: 2rem;
}
.center p{
    line-height:2em;
}

.gap{
    margin: 20px 0;
}

.update-container{
    padding-top: 50px;
     border-top: 1px solid grey ;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.update h1{
    color: #00FF88;
    font-weight: bolder;
}



/* ...responsive--mobile device */
@media screen and (max-width:576px) {
    .list , .button{
        display: none;
    }

    nav{
    justify-content: space-between;
   margin: 20px 20px;
}
.img{
    display: inline;
}
.micro{
    padding-right:30px;
    position: absolute;
    right: 140px;
    top: 230px;
}
.new button{
    top: 160px;
   right:110px;

}
.center{
    text-align: center;
    max-width: 1200px;
    margin: 100px auto;
    background-color: #1A0B2E;
}
.center h2{
    font-size: 2rem;
}
.center p{
    line-height:2em;
    margin: 0 2rem;
}
.update-container{
    row-gap: 1rem;
    grid-template-columns: repeat(2 , 1fr);
}
}